@import url('./components/gallery/gallery.css');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}
