@import url('./image.css');
@import url('./imageDetails.css');
@import url('./imageLightbox.css');

.gallery-container {
  display: table-cell;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.gallery-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}
