.image-details-list {
  list-style-type: none;
  padding-left: 1%;
}

.image-details {
  display: inline-block;
  color: white;
  background: rgb(0,0,0,1);
  position: relative;
  height: auto;
  max-height: 20%;
  top: 64%;
  max-width: 70%;
}
