.image-overlay {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  background-color: black;
}

.overlay-text {
  color: white;
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.lightbox {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
}

.lightbox-image {
  position: absolute;
  height: 60%;
  width: 90%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 2%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
